# Dicitionary

In [2]:
d={1:3,8:9,1:"preet"}
print(d)
print(type(d))

{1: 'preet', 8: 9}
<class 'dict'>

In [2]:
d={1:2,6:7,8:"hunny",8:"abhishek"}
print(d.get(1,'not found in a dictionary'))
d

2

{1: 2, 6: 7, 8: 'abhishek'}

In [3]:
d={1:2,2:3,1:"karan"}
d

{1: 'karan', 2: 3}

A dictionary is a collection of key-value pairs, where each key is unique and maps to a specific value

They are defined using curly braces {} with key-value pairs separated by a colon.

In [4]:
a= {"name": "ram", "rollno": 1, "marks": 34}
print(a)
print(type(a))

{'name': 'ram', 'rollno': 1, 'marks': 34}
<class 'dict'>

In [1]:
a={'name':"sneh",1:"sneh",8:2}
print(a)
print(type(a))

{'name': 'sneh', 1: 'sneh', 8: 2}
<class 'dict'>

In [2]:
a={'1':2,'7':4}
print(a)

{'1': 2, '7': 4}

In [3]:
a={1:2,2:3}
print(a)

{1: 2, 2: 3}

In [4]:
#for example:
my_dict = {'Name': 'mukesh',1:'age','City': 'chandigarh'}
print(my_dict)

{'Name': 'mukesh', 1: 'age', 'City': 'chandigarh'}

Dictionaries are mutable, unordered, and can store elements of different data types

You can access values in a dictionary using square brackets and the key.

In [1]:
my_dict = {'Name': 'mukesh',1:'age','City': 'chandigarh'}
print(my_dict["Name"])
print(my_dict.get("City", "not found"))
print(len(my_dict))

mukesh
chandigarh
3

In [2]:
#for example
my_dict = {'Name': 'mukesh',1:'age','City': 'chandigarh'}
print(my_dict[1])
# print(my_dict[8])
print(my_dict.get(8,'not found'))
print(my_dict['Name'])

age
not found
mukesh

functions for dict:

- len(d): Returns the number of key-value pairs in the dictionary d.

In [3]:
#for example:
my_dict = {'Name': 'mukesh', 'Age': 32, 'City': 'chandigarh',1: [1, 2, 3, 4]}
c=len(my_dict)
print(c)
print(my_dict)

4
{'Name': 'mukesh', 'Age': 32, 'City': 'chandigarh', 1: [1, 2, 3, 4]}

- d.keys(): Returns a view of the keys in the dictionary d.

In [5]:
d = {'Name': 'mukesh', 1: "age" , 'City': 'chandigarh'}
a = d.keys()
print(a)

dict_keys(['Name', 1, 'City'])

- d.values(): Returns a view of the values in the dictionary d.

In [4]:
#for example:
my_dict = {'Name': 'mukesh', 'Age': 32, 'City': 'chandigarh'}
v = my_dict.values()
print(v)

dict_values(['mukesh', 32, 'chandigarh'])

- d.items(): Returns a view of the key-value pairs in the dictionary d as a sequence of (key, value) tuples

In [19]:
#for example:
my_dict = {'Name':(1,2,3), 'Age': 32, 'City': 'chandigarh'}
items = my_dict.items()
# print(items)
# a = list(items)
# print(a)
# #c=a[1]
# #print(c[1])
print(list(items))

[('Name', (1, 2, 3)), ('Age', 32), ('City', 'chandigarh')]

- d.get(key, default): Returns the value for the key key if it exists in the dictionary d, else returns the value specified in default.

In [7]:
#for example:
my_dict = {'Name': 'mukesh', 'Age': 32, 'City': 'chandigarh' ,1:45,1:33}
print(my_dict.get(1, 'Not found')) 
print(my_dict.get('Country','Not found'))

33
Not found

- d[key] = value: Adds a key-value pair to the dictionary d or updates the value for an existing key.

In [7]:
a = {'Name': 'mukesh', 'Age': 32, 'City': 'chandigarh'}
a['Country'] = 'USA'
print(a)
a['Age']=45
print(a)

{'Name': 'mukesh', 'Age': 32, 'City': 'chandigarh', 'Country': 'USA'}
{'Name': 'mukesh', 'Age': 45, 'City': 'chandigarh', 'Country': 'USA'}

In [10]:
#for example:
my_dict = {'Name': 'mukesh', 'Age': 32, 'City': 'chandigarh'}
my_dict['Country'] = 'USA'
print(my_dict) 
my_dict['Name'] = "hunny"
print(my_dict)

{'Name': 'mukesh', 'Age': 32, 'City': 'chandigarh', 'Country': 'USA'}
{'Name': 'hunny', 'Age': 32, 'City': 'chandigarh', 'Country': 'USA'}

In [11]:
a={}
print(type(a))

<class 'dict'>

In [12]:
a=set()
print(type(a))

<class 'set'>

In [13]:
a=[1,3,4,5,8,0]
a.sort()
print(a)
print(a[0])

[0, 1, 3, 4, 5, 8]
0

- del d[key]: Removes the key-value pair with the key key from the dictionary d.

In [14]:
#for example:
d = {'Name': 'John Doe', 'Age': 32, 'City': 'New York'}
#del d
print(d)

{'Name': 'John Doe', 'Age': 32, 'City': 'New York'}

In [15]:
print(d)

{'Name': 'John Doe', 'Age': 32, 'City': 'New York'}

- d.clear(): Removes all key-value pairs from the dictionary d.

In [17]:
#for example:
d = {'Name': 'John Doe', 'Age': 32, 'City': 'New York'}
d.clear()
print(d)

{}

- d.copy(): Returns a shallow copy of the dictionary d.

In [18]:
#for example:
my_dict = {'Name': 'mukesh', 'Age': 32, 'City': 'chandigarh'}
a=my_dict.copy()
print(a)

{'Name': 'mukesh', 'Age': 32, 'City': 'chandigarh'}

# SET DATA TYPE

- A Set is an unordered collection data type that is iterable, mutable, and has no duplicate elements.

iterable:

- iterable is any object capable of returning its elements one at a time.

In [1]:
l={1,2,3,1,3,4,7,4,5}
print(l)
print(type(l))

{1, 2, 3, 4, 5, 7}
<class 'set'>

In [19]:
a = {8,9,"apple", "banana", "cherry",1,2,8}
print(a)
print(type(a))

{'banana', 1, 2, 'apple', 'cherry', 8, 9}
<class 'set'>

In [20]:
a={"cvdhjgv","bddfkij",1,2,3,4}
a

{1, 2, 3, 4, 'bddfkij', 'cvdhjgv'}

In [30]:
s={1,2,3,4,2,4,3}
s

{1, 2, 3, 4}

In [19]:
s={"preet",1,2}
s

{1, 2, 'preet'}

- Since sets are unordered, we cannot access items using indexes

In [11]:
#for example
var = {"hello", "hey", "bye"}
var.add("good")
var.add(5)
var.add('H')
var.add(78)
print(var)
print(list(var))

{'H', 'hey', 5, 'good', 78, 'hello', 'bye'}
['H', 'hey', 5, 'good', 78, 'hello', 'bye']

In [13]:
a=["y",4,5]
print(set(a))

{'y', 4, 5}

In [14]:
a=[1,"y",2,3,4]
print(a)
m=set(a)

m

[1, 'y', 2, 3, 4]

{1, 2, 3, 4, 'y'}

In [15]:
l=["hunny",6,7,8,"shivansh"]
print(l)
print(set(l))

['hunny', 6, 7, 8, 'shivansh']
{'shivansh', 6, 7, 8, 'hunny'}

In [21]:
# typecasting list to set
a =[4,5,2,8]
c =(4,2,5,3)
m = set(a)
#typecasting list
b =tuple(a)
print(list(c))
print(b) 
print(m)

[4, 2, 5, 3]
(4, 5, 2, 8)
{8, 2, 4, 5}

In [22]:
a=[6,7,8,9]
c=set(a)
print(c)

{8, 9, 6, 7}

Unchangeable:

- Set items are unchangeable, meaning that we cannot change the items after the set has been created.

- Once a set is created, you cannot change its items, but you can remove items and add new items.

Duplicates Not Allowed:

In [17]:
s = {"apple", "banana", "cherry", "apple",True,1, False, 0}
print(s)

{False, True, 'cherry', 'apple', 'banana'}

In [15]:
a={1,1,2,9,4,6,6,7,8}
print(a)

{1, 2, 4, 6, 7, 8, 9}

- Note: The values True and 1 are considered the same value in sets, and are treated as duplicates:

In [10]:
#set items can be any data type
#for example
set1 = {"apple", "banana", "cherry"}
set2 = {1, 5, 7, 9, 3}
set3 = {True, False, 0,1}

print(set1)
print(set2)
print(set3)

{'banana', 'cherry', 'apple'}
{1, 3, 5, 7, 9}
{False, True}

- len(s): returns the number of elements in the set s.

In [23]:
s={1,2,3,4,5,6}
print(len(s))

6

In [24]:
s = {1, 2, 3}
s.add(5)
print(s)

s.remove(2)
print(s)
a= s.pop()
print(a)
print(s)

{1, 2, 3, 5}
{1, 3, 5}
1
{3, 5}

- s.add(x): adds element x to the set s

In [11]:
V = {1, 2, 5,3,8,7,'hello'}
V.add("bvfhtg")
print(V)

{1, 2, 3, 'hello', 5, 'bvfhtg', 7, 8}

- s.remove(x): removes element x from the set s. If x is not in the set

In [25]:
s = {1, 2, 3,"bye",'hello','bye'}
s.remove('bye')
print(s)

{1, 2, 3, 'hello'}

- s.pop(): removes and returns an arbitrary element from the set s

In [22]:
# u= {1, 2, 3}
# a ={4,2,5,7}
f ={4,2,5,8,'hello'}
r= f.pop()
print(r)
#print(a)
print(f)

2
{4, 5, 8, 'hello'}

In [40]:
a={"hunny",1,2,3,"preet"}
b=a.pop()
print(b)
a

1

{2, 3, 'hunny', 'preet'}

In [29]:
a={1,2,3,4}
b=a.pop()
print(b)
print(a)

1
{2, 3, 4}

- s.union(t): returns the union of sets s and t as a new set.

In [30]:

s = {1, 2,2, 3}
# t = {3, 4, 5}
u = {5,2,8,7}
print(s.union(u))
print(s.intersection(u))

{1, 2, 3, 5, 7, 8}
{2}

- s.intersection(t): returns the intersection of sets s and t as a new set

In [ ]:
a={1,2,3}
b={2,3,4}

In [26]:
s = {1, 2,4 ,3}
t = {2, 3 ,4,4}
s.intersection(t)

{2, 3, 4}

- s.clear(): removes all elements from the set s.

In [12]:
s = {1, 2, 3}
s.clear()
s

set()

- s.copy(): returns a shallow copy of the set s.

In [34]:
s = {1, 2, 3}
t = s.copy()
t

{1, 2, 3}

 update() :

In [31]:
set1 = {"a", "b" , 3,"c"}
set2 = {1, 2, 3,"rahul"}
set1.update(set2)
print(set1)

{'c', 1, 3, 2, 'b', 'rahul', 'a'}

In [43]:
s={1,2,3}
s.discard(2)
print(s)

{1, 3}

In [39]:
a={2,3,8}
b={2,3,5,4}
c=a.difference(b)
d=a.issubset(b)
print(d)
print(c)

False
{8}

In [42]:
a={1,2,3,4}
b={3,4}
# b={1,2,3,4,5,6}
d= b.issubset(a)
print(d)

True

In [3]:
#for i in range(1,100):
    print(i)

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99