# List

In [1]:
In Python, a list is a collection of ordered, mutable, and heterogeneous elements.
Lists are defined using square brackets [ ] and can contain elements of any data type, including other lists.
Lists are useful for representing sequences of elements, such as collections of numbers, strings, or other objects 
Lists are used in Python to store collections of items
You can access, modify, and manipulate list elements using various built-in functions and operations, such as indexing, slicing, adding, removing, and sorting elements.
Access Items:

SyntaxError: invalid syntax (3512601146.py, line 1)

In [1]:
a = [1,2,3,'palash', [1,2,3,4], 5]
print(len(a))

6

In [20]:
b=["ramesh","ram","radha",8]
print(type(b))
print(b)
print([2])
print(len(b))

<class 'list'>
['ramesh', 'ram', 'radha', 8]
[2]
4

In [24]:
l=[2,4,"apple",6,[2,4],"ram"]
print(len(l))
print(type(l))

6
<class 'list'>

In [25]:
l=[2,"mishra",5.0,[7,8,9],(8,9)] 
print(len(l))
a=l[2:4]
print(a)
#c=l[-4]
print(type(a))

5
[5.0, [7, 8, 9]]
<class 'list'>

In [26]:
a=[1,2,3,4,5,"rahul",(8,7),7,[7,8,98]]
print(len(a))
print(type(a))

9
<class 'list'>

[1, 2, 3, 4, 5, 'rahul', (8, 7), 7, [7, 8, 98]]

In [9]:
a=[1,2,3,4,3.4,5.6,"hunny",[8,9,7],[9,0],(8,9)]
print(len(a))
#    1 2 3 4
a

10

[1, 2, 3, 4, 3.4, 5.6, 'hunny', [8, 9, 7], [9, 0], (8, 9)]

In [10]:
a=[1,2,3,4,5]
print(a)
print(type(a))

[1, 2, 3, 4, 5]
<class 'list'>

In [27]:
a= "ilearnpython"
b= a[6:10:-1]

In [28]:
a=[1,2,3,9.0,"karan",[8,9],[7,5]]
print(len(a))

7

In [19]:
a=[1,2,3,"sneh",8.9,[2,3,4],[7,8],(7,8,9)]
 
#    1 2 3   4     5   6      7    8
#     n-1=5-1=4
print(a)
#print(type(a))
print(len(a))

[1, 2, 3, 'sneh', 8.9, [2, 3, 4], [7, 8], (7, 8, 9)]
8

In [6]:
A=[1,2,"sanket","simran",[8,9,0],[6,7,8],[9,8],7]
print(A)

[1, 2, 'sanket', 'simran', [8, 9, 0], [6, 7, 8], [9, 8], 7]

In [20]:
y=[1,2,3,4,5,6.0,[6,7],[8,9]]
 
print(y)

[1, 2, 3, 4, 5, 6.0, [6, 7], [8, 9]]

- Lists are used in Python to store collections of items

In [30]:
a=[1,"preet","tanu",8.9]
print(a)
print(type(a))

[1, 'preet', 'tanu', 8.9]
<class 'list'>

In [31]:
num=[1,2,3,"bhavya",[4,5],[8,9,"raspreet"],[8,9],8]
print(len(num))
print(type(num))

#      1 2  3  4         5      6                 7            8
print(num)

8
<class 'list'>
[1, 2, 3, 'bhavya', [4, 5], [8, 9, 'raspreet'], [8, 9], 8]

In [23]:
b=[1,2,3,"akshit","harsh",8.9,6,7]
print(b)

[1, 2, 3, 'akshit', 'harsh', 8.9, 6, 7]

In [7]:
a=["apple","ayush","aman"]
print(a)

['apple', 'ayush', 'aman']

In [24]:
a=[1,2,3,[7,8],[8,9],"palash", 34.6,45.6, 45+67j]
print(len(a))
print(type(a[5]))

9
<class 'str'>

In [25]:
a=[1,2,3,4]
#    0 1 2 3
print(type(a))

<class 'list'>

In [ ]:
n=int(input(""))

n

In [34]:
numbers = [1, 2, 3, 4, 5,"aman",6.7,7]
print(type(numbers))
print(type(numbers[5]))
print(type(numbers[6]))
print(type(numbers[7]))

<class 'list'>
<class 'str'>
<class 'float'>
<class 'int'>

In [7]:
a=[1,2,3,[7,8],[6,9]]
#    1 2 3  4
# print(len(a))

In [6]:
mixed_list = [1, "hello", 3.14, ["another", "list"]]
print(type(mixed_list[3]))

<class 'list'>

In [10]:
#for example
# fruits = ["apple", "banana", "cherry"]
# numbers = [1, 2, 3, 4, 5]
# print(type(numbers[3]))
mixed_list = [1, "hello", 3.14, ["another", "list"]]
  
#                0   1       2        3
# print(type(mixed_list[0]))
print(type(mixed_list[0]))

<class 'int'>

In [11]:
a=2
print(type(a))

<class 'int'>

Access Items :

In [2]:
fruits = ["apple", "banana", "cherry"]
#              0     1        2
#             -3     -2       -1
print(fruits[0])

apple

In [3]:
a= [2,3,4,5,6]
a[1]=45
print(a)

[2, 45, 4, 5, 6]

In [5]:
thislist = ["apple", "banana", "cherry"]
a=thislist[0:2]+["56","57","58"]
#print(type(a))
print(a)

['apple', 'banana', '56', '57', '58']

Change Item Value:

In [6]:
#Change the second item:
#                 -3          -2        -1
thislist = ["apple", "banana", "cherry"]
thislist[0] = [7,8,9]
print(thislist)

[[7, 8, 9], 'banana', 'cherry']

In [7]:
a=[5,6,7]
a[0]=10
print(a)
print(a[0])

[10, 6, 7]
10

In [35]:
a=[2,3,4,5,6]
a.append(45)
a.append("richard")


print(a)

<class 'list'>
[2, 3, 4, 5, 6, 45, 'richard']

In [15]:
a=[5,6,7,8]
a.extend([1,2])
a

[5, 6, 7, 8, 1, 2]

In [10]:
a=[1,2,3]
a[2]=67
a.append(5)
a.append(90)
print(a)
print(len(a))

[1, 2, 67, 5, 90]
5

In [16]:
b=[7,8,9]
b.append(8)
print(b)

[7, 8, 9, 8]

methods of list :

- append() - Adds an element to the end of the list.

In [17]:
#Example
fruits = ['apple', 'banana', 'cherry']
# fruits.append('orange')
fruits.append([7,8,9])
print(fruits)

['apple', 'banana', 'cherry', [7, 8, 9]]

In [18]:
a=[1,2,3]
a.extend([4,5,6])
print(a)

[1, 2, 3, 4, 5, 6]

- extend() - Adds multiple elements to the end of the list.

In [19]:
#Eaxmple:
fruits = ['apple', 'banana', 'cherry']
fruits.extend([1,2,3,5,6])
print(fruits)

['apple', 'banana', 'cherry', 1, 2, 3, 5, 6]

In [20]:
a=[12,2,3]
b=[4,55,6,7]
a.extend(b)
print(a)

[12, 2, 3, 4, 55, 6, 7]

mDifference between entend and append:

In [21]:
l1 =[10,20,30]
l2=[40,50,60]
l2.append(l1)
print(l2)
# print(len(l2))

[40, 50, 60, [10, 20, 30]]

In [22]:
#Extend:
l1 =[10,20,30]
l2 =[40,50,60,45,'hello']

l1.extend(l2)
print(l1)

print(len(l1))

[10, 20, 30, 40, 50, 60, 45, 'hello']
8

- insert() - Adds an element at a specified index in the list.

In [41]:
#Eaxmple:
fruits = ['apple', 'banana', 'cherry']
print(fruits)
fruits.insert(1, "hey richard")
fruits.remove("apple")
fruits[1]="Hey thandy"
print(fruits)

['apple', 'banana', 'cherry']
['hey richard', 'Hey thandy', 'cherry']

In [24]:
a=[1,2,3,3,3,4,5,6]
a.remove(3)
print(a)

[1, 2, 3, 3, 4, 5, 6]

- remove() - Removes an element from the list.

In [25]:
#Eaxmple:
fruits = ['apple', 'banana', 'cherry',"cherry",1]
fruits.remove('cherry')

print(fruits)

['apple', 'banana', 'cherry', 1]

In [37]:
#Eaxmple:
fruits = ['apple', 'banana', 'cherry',2]
fruits.remove(2)
print(fruits)

['apple', 'banana', 'cherry']

- pop() - Removes and returns the last element from the list or the element at a specified index.

In [44]:
#Eaxmple :
fruits = ['apple', 'banana', 'cherry',14]
last_fruit =fruits.pop()
print(last_fruit)
# print(fruits)
print(fruits.pop(0))
print(fruits)

14
apple
['banana', 'cherry']

In [43]:
#Eaxmple : 
#deletes the value of specified index number
num =[10,20,45,78,"hello"]
a= num.pop(3)
print(num)
print(a)

[10, 20, 45, 'hello']
78

- index() - Returns the index of the first occurrence of an element in the list.

In [45]:
#Eaxmple :
fruits = ['apple', 'hunny', 'hunny','cherry','karan','karan']
a = fruits.index('karan')
fruits.remove('hunny')
print(fruits)
print(a)

['apple', 'hunny', 'cherry', 'karan', 'karan']
4

- count() - Returns the number of times an element appears in the list.

In [26]:
#Eaxmple :
fruits = [1,'apple', 'banana',1, 'cherry', 1,'banana',1,True]
b=fruits.count('banana')
print(b)

2

- sort() - Sorts the elements of the list in ascending or descending order.

In [46]:
#Eaxmple :
fruits = ["baui",'cherry', 'banana', 'apple']
num = [1,7,8,2,5,6,45.7]
num.sort(reverse=True)
#print(num)
fruits.sort(reverse=True)
fruits.sort(reverse=True)
print(fruits)

['cherry', 'baui', 'banana', 'apple']

- reverse() - Reverses the order of elements in the list.

In [28]:
#Eaxmple :
fruits = ['apple', 'banana', 'cherry',5]
num = [1,7,8,2,5,6]
num.reverse()
print(num)
fruits.reverse()
print(fruits)

[6, 5, 2, 8, 7, 1]
[5, 'cherry', 'banana', 'apple']

- copy() - Makes a shallow copy of the list

In [48]:
#Eaxmple :
fruits = ['apple', 'banana', 'cherry']
new_fruits = fruits.copy()
print(new_fruits)

['apple', 'banana', 'cherry']

In [49]:
a=[1,2,3,4]
b=a.copy()
print(b)

[1, 2, 3, 4]

- clear()

In [50]:
fruits = ['apple', 'banana', 'cherry']
fruits.clear()
print(fruits)

[]

- del

In [52]:
#error
fruits = ['apple', 'banana', 'mango']
#del fruits
print(fruits)

['apple', 'banana', 'mango']

In [33]:
a=[1,2,3]

print(a)

[1, 2, 3]

In [34]:
print(a)

[1, 2, 3]

In [6]:
a=[1,2,3]
del a
print(a)

[1, 2, 3]

In [ ]:
#Example
fruits = ['apple', 'banana', 'cherry']
del fruits[1]
print(fruits)

In [ ]:
#write a program  to swap the value of two variables without using third variables
# a=67
# b=78
# a=78
# b=67
# Initial values
a = 67
b = 78
#Before swapping
print("Before swapping:")
print("a =", a)
print("b =", b)

#Swap without third variable
a = a + b  # a = 145
b = a - b  # b = 67
a = a - b  # a = 78

# After swapping
print("After swapping:")
print("a =", a)
print("b =", b)

In [36]:
a=89
b=90
a=90
b=89

In [37]:
#write a program to swap the value of two variables using third variable:
# Initial values
a = 67
b = 78

# Before swapping
print("Before swapping:")
print("a =", a)
print("b =", b)

# Swap using a third variable
temp = a
a = b
b = temp

# After swapping
print("After swapping:")
print("a =", a)
print("b =", b)

Before swapping:
a = 67
b = 78
After swapping:
a = 78
b = 67

# tuple

a tuple is an immutable, ordered collection of elements of any data type, enclosed in parentheses(). Tuples are similar to lists in many ways, but they have a few key differences that make them useful in different scenarios.

most important features of tuples in Python:

- Immutable: Once a tuple is created, you can't change its elements. This makes them suitable for use in situations where you want to ensure that the data remains unchanged

- Heterogeneous: Tuples can contain elements of different data types, including other tuples.

- Lightweight: Tuples are more lightweight than lists and dictionaries, so they can be more efficient to use in certain situations, such as when you need to pass large amounts of data between functions.

- Tuples are typically used for faster access of elements, as compared to lists, due to their immutability.

In [36]:
#Example
# fruits = ("apple", "banana", "cherry",[6,7],[7,8])
# a=[9,7,8,6,5,(7,8,9)]
# print(a)
# print(len(fruits))
# a=(1,2,3,3.5,4.5,[1,2,3,4,5],"disha")
numbers = (1, 8, 3, 4, 5)
# # print(fruits)
print(sorted(numbers))
#tuples don't have a sorting method because they are immutable, but you can use the sorted() function on tuples.
#This function will always return a list
# mixed_tuple = (1, "hello", 3.14, ["another", "tuple"])
# print(type(mixed_tuple[2]))

[1, 3, 4, 5, 8]

In [28]:
a=(7,8,9,"hunny")
a

(7, 8, 9, 'hunny')

In [53]:
a=(3,4,5,"radha")
print(type(a[1]))
print(type(a[3]))

<class 'int'>
<class 'str'>

In [39]:
mixed_tuple = (1, "hello", 3.14, [1,3],(8,9))
print(type(mixed_tuple[2]))

<class 'float'>

In [40]:
a=[1,2,[5,6],[9,8]]
print(a)

[1, 2, [5, 6], [9, 8]]

In [41]:
a=(1,2,678,4)
print(sorted(a))
print(type(a))

[1, 2, 4, 678]
<class 'tuple'>

- You can access, retrieve, and perform operations on tuple elements using various built-in functions and operations, such as indexing, slicing, and counting elements.

packing in tuple :

In [54]:
a,b,c,e =10,20,30,'hello'
d =a,b,c,e
print(list(d))
print(tuple(d))

[10, 20, 30, 'hello']
(10, 20, 30, 'hello')

In [43]:
#for further modification we need to change our data
a,b,c =10,20,30
d =a,b,c
print(d)
d=list(d)
print(d)

(10, 20, 30)
[10, 20, 30]

# Accessing Values:

indexing:

In [44]:
v = ("hello", "hi", "bye")
print(v[0])
print(v[2])

print("value at index 0 = ", v[0])
print("Value in V[1] = ", v[1])
print("Value in V[2] = ", v[2])

hello
bye
value at index 0 =  hello
Value in V[1] =  hi
Value in V[2] =  bye

In [45]:
a=(1,2,3)
print(a[-2])

2

Concatenation of Python Tuples:

In [46]:
a="5"
b="akshitt"
print(a+b)

5akshitt

In [47]:
tuple1 = (0, 1, 2, 3)
a=list(tuple1)
print(a)
print(list(tuple1))
tuple2 = ('python',4)
print(type(tuple2))
print(a + list(tuple2))

[0, 1, 2, 3]
[0, 1, 2, 3]
<class 'tuple'>
[0, 1, 2, 3, 'python', 4]

In [48]:
a=[1,2,3] 

b=[2,3,4] 
print(a+b)

[1, 2, 3, 2, 3, 4]

 Nesting :

In [49]:
tuple1 = (0, 1, 2, 3)
tuple2 = ('python',54)
tuple3 = (tuple1 , tuple2)
#              0      1
print(tuple3[0])
print(tuple3[1])
print(tuple3)
print(len(tuple3))

(0, 1, 2, 3)
('python', 54)
((0, 1, 2, 3), ('python', 54))
2

In [55]:
a='mishra\n'*10
print(a)

mishra
mishra
mishra
mishra
mishra
mishra
mishra
mishra
mishra
mishra

In [51]:
a='vanishka\n'*10
a

'vanishka\nvanishka\nvanishka\nvanishka\nvanishka\nvanishka\nvanishka\nvanishka\nvanishka\nvanishka\n'

In [52]:
a=('think',)*5
print(a)

('think', 'think', 'think', 'think', 'think')

Repetition:

In [53]:
tuple1 = ('aditya',)*10
print(tuple1)

('aditya', 'aditya', 'aditya', 'aditya', 'aditya', 'aditya', 'aditya', 'aditya', 'aditya', 'aditya')

In [54]:
a ='hello\n'*10
print(a)

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

Immutable :

In [56]:
tuple1 = (0, 1, 2, 3)
tuple1[0] = 4
print(tuple1)

TypeError: 'tuple' object does not support item assignment

slicing:

In [56]:
tuple1 = (0 ,'hello', 2, 3,8)
#            0    1    2  3   4
print(tuple1[1:])
print(tuple1[::-1])
print(tuple1[2:4])

('hello', 2, 3, 8)
(8, 3, 2, 'hello', 0)
(2, 3)

Deleting :

In [57]:
tuple3 = ( 0, 5,4,(2,5,7,8))
#del tuple3
print(tuple3)

(0, 5, 4, (2, 5, 7, 8))

Converting list to a Tuple:

In [57]:
a=(1,4,7,8)
b=((1,3,4,5),2,4)
c=a+b
print(c)

print(list('carrer point university'))

(1, 4, 7, 8, (1, 3, 4, 5), 2, 4)
['c', 'a', 'r', 'r', 'e', 'r', ' ', 'p', 'o', 'i', 'n', 't', ' ', 'u', 'n', 'i', 'v', 'e', 'r', 's', 'i', 't', 'y']

In [58]:
list1 = [0, 1, 2]
print(tuple(list1)) 

print(tuple('python'))

(0, 1, 2)
('p', 'y', 't', 'h', 'o', 'n')

Tuple functions:

- len(): Returns the number of elements in a tuple.

In [59]:
#Example
numbers = (1, 2, 3, 4, 5,6)
print(len(numbers))
print(type(numbers))
print(numbers)

6
<class 'tuple'>
(1, 2, 3, 4, 5, 6)

- count(): Returns the number of occurrences of a specific element in a tuple.

In [61]:
#Example
numbers = (1, 2, 3,3,4,3,3, 5)

print(numbers.count(3))

4

- index(): Returns the index of the first occurrence of a specific element in a tuple

In [62]:
#Example
numbers = (1, 2, "sid", "disha",  4,'hello', 5 )
print(numbers.index("sid"))
print(numbers[3])

2
disha

- max(): Returns the maximum value in a tuple of numbers.

In [63]:
#Example
numbers = (1, 2, 3, 4, 5,8)
print(max(numbers))

8

- min(): Returns the minimum value in a tuple of numbers

In [64]:
#Example
numbers = (1, 2, 3, 4, 5)
print(min(numbers))

1

- sorted(): Returns a sorted version of a tuple.

In [65]:
#Example
numbers = (1, 2, 3, 4, 5,0)
print(sorted(numbers))
print(sorted(numbers,reverse=True))

[0, 1, 2, 3, 4, 5]
[5, 4, 3, 2, 1, 0]

In [66]:
a=45
print(a)

45

In [67]:
_a=45
print(_a)

45

In [68]:
_a

45

In [6]:
 # DIFFERENCE BETWEEN List and Tuple
Feature	List ([])	 Tuple (())
Mutability	✅ Mutable (can be changed)	 ❌ Immutable (cannot be changed)
Syntax	my_list = [1, 2, 3]	 my_tuple = (1, 2, 3)
Methods	Many methods (append(), remove(), etc.)	 Fewer methods (mainly count(), index())
Performance	Slightly slower	  Faster due to immutability
Use Case	For dynamic data (can change later)	For fixed data (won't change)
Memory Usage  Uses more memory	Uses less memory
Can Be Dictionary Key	❌ No (because it's mutable)	✅ Yes (if it contains only immutables)
Iteration Speed	Slower	Faster
Nesting	Can be nested	Can be nested

SyntaxError: invalid character '✅' (U+2705) (34827204.py, line 3)

 ## Indexing

In [ ]:
Indexing means referring to an element of an iterable (like a list or string) by its position.

Syntax: sequence[index] 

Index starts from 0 (left to right).

Negative indexing starts from -1 (right to left).

In [11]:
a = ['a', 'b', 'c', 'd']
print(a[-3])   
print(my_list[-2])   
print(my_list[-1])

b
d
e

 ## slicing

In [ ]:
Slicing is used to access a range of elements in a sequence.

Syntax: sequence[start:stop:step]

start: index where the slice starts (inclusive)

stop: index where the slice ends (exclusive)

step: how many steps to jump (default is 1)

In [12]:
my_list = ['a', 'b', 'c', 'd', 'e','f']

print(my_list[1:2])      # ['b', 'c', 'd']
print(my_list[:3])       # ['a', 'b', 'c']
print(my_list[2:])       # ['c', 'd', 'e']
print(my_list[::2])      # ['a', 'c', 'e'] (every second item)
print(my_list[::-1])     # ['e', 'd', 'c', 'b', 'a'] (reversed)

['b']
['a', 'b', 'c']
['c', 'd', 'e', 'f']
['a', 'c', 'e']
['f', 'e', 'd', 'c', 'b', 'a']